.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main{
  height: 100vh;
  width: 100%;
  background: url(https://cdn.pixabay.com/photo/2016/02/18/18/57/home-office-1207834_640.jpg);
  background-size: cover;
}
.head{
  color: rgb(230, 8, 64);
  font-size: 45px;
  font-style: oblique;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
   margin-top: 45px;
  margin-left: 450px; 
  
}
.hh{
  position: fixed;
  bottom: 0px;
  left: 1040px;
  color: rgb(243, 234, 234);
}
.d1{
  
  position: absolute;
  margin-top: 400px;
  margin-left: 380px;
}
.d2{
  position: absolute;
  margin-top: 400px;
  margin-left: 610px;
}
.hd{
  height: 587px;
  width: 1366px;
  background-size: cover;
  background-repeat: no-repeat;
  
}